doctype 5
html
	head
		block head
			meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
			meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
			title=title
			link(rel='stylesheet', href='http://cdn.sencha.io/ext-4.1.0-gpl/resources/css/ext-all-gray.css')
			script(type='text/javascript', charset='utf-8', src='http://cdn.sencha.io/ext-4.1.0-gpl/ext-all.js')
			script(type='text/javascript', charset='utf-8', src='http://cdn.sencha.io/ext-4.1.0-gpl/locale/ext-lang-zh_TW.js')

			link(rel='stylesheet', href='./codemirror/lib/codemirror.css')
			script(type='text/javascript', charset='utf-8', src='./codemirror/lib/codemirror.js')
			script(type='text/javascript', charset='utf-8', src='./mzExt/src/Ext.ux.form.field.CodeMirror.411.js')			

			script(type='text/javascript', charset='utf-8', src='./app/Application.js')
			script(type='text/javascript', charset='utf-8', src='./app/Editor.js')
			//if IE
				script(type='text/javascript', src='https://getfirebug.com/firebug-lite.js')
			script(type='text/javascript')
				var __SILK_ICONS_URL = 'http://cdn.dustball.com/';
				var __SERVICE_URL = '';
			script(type="text/javascript")
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '__INSERT_GOOGLE_ANALYTICS_CODE_HERE__']);
				//_gaq.push(['_setDomainName', 'alltop.com.tw']);
				_gaq.push(['_setDomainName', 'none']);
				_gaq.push(['_setAllowLinker', true]);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();

			link(href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet', type='text/css')
			style
				.CodeMirror {
					font-family: 'Droid Sans Mono', sans-serif;
					font-size: 15px;
				}
	body
		block content
